<h1>Master Mind</h1>

<app-master></app-master>

<app-mind></app-mind>

<div *ngIf="pastGuess.length > 0">
    <table class="pastGuess">
        <!-- <thead>
            <tr>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th>Clue</th>
            </tr>
        </thead> -->
        <tr *ngFor="let g of pastGuess">
            <td>{{g.first}}</td>
            <td>{{g.second}}</td>
            <td>{{g.third}}</td>
            <td>{{g.fourth}}</td>
            <td>{{g.clue}}</td>
        </tr>
    </table>
</div>